@model store1.Models.MViews.CustomerProductViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Delete Admin";
    var errorMessage = TempData["errorMessage"]?.ToString();

}
<h3>@ViewData["Title"]</h3>
<br />

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    @if (!string.IsNullOrWhiteSpace(errorMessage))
    {
        <div class="alert alert-danger">
            <strong>Error:</strong>@errorMessage
            <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }


    <form asp-action="DeleteCustomerProduct" method="post">

        <div class="mb-3">
            <label class="form-label">
                Id
            </label>
            <input type="text" class="form-control" asp-for="Id" readonly />
        </div>
        
        <div class="mb-3">
            <label class="form-label">
                CustomerId
            </label>
            <input type="text" class="form-control" asp-for="CustomerId" readonly />

        </div> 
        <div class="mb-3">
            <label class="form-label">
               ProductId
            </label>
            <input type="text" class="form-control" asp-for="ProductId" readonly />

        </div>
        <div>
            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure to delete admin:@Model.Id')">Delete</button>
        </div>
    </form>
</body>
</html>
