@model List<store1.Models.MViews.TopViewModel>
@{
    Layout = "_Layout";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowTopCustomer</title>
</head>
<body>
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>ProductName</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                if(Model != null && Model.Any() ){
                @foreach (var customer in Model)
                {
                    <td>@customer.CustomerName</td>
                    <td>@customer.CustomerType</td>
                    <td>@customer.ProductName</td>
                    <td>@customer.wholesalePrice</td>
                }
                
                }

            </tr>



            else
            {
            <tr>
                <td colspan="4">
                    <div><p>No Customers Avaliable at the moment</p></div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>