@model store1.Models.MViews.ViewModel

@{
    Layout = "_Layout";
}
    <!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
</head>
<body>
    <form >
        <button value="Top" class="btn btn-success" asp-controller="CustomerProduct" asp-action="ShowTopCustomer">Top Customers</button>
        <button value="Regular" class="btn btn-success" asp-controller="CustomerProduct" asp-action="ShowRegularCustomer">Regular Customers</button>
    </form>



</body>

</html>
