@model store1.Models.MViews.ViewModel

@{
    Layout = "_Layout";
}
    <!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
</head>
<body>
    <form asp-action="ShowPriceByCustomerType" method="get">
    <select name="type">
        <option value="Top">Top</option>
        <option value="Regular">Regular Customer</option>
    </select>
    <button type="submit">Show</button>
    </form>



</body>

</html>
