@model store1.Models.CustomerViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit Admin";
    var errorMessage = TempData["errorMessage"]?.ToString();
    var successMessage = TempData["successmessage"]?.ToString();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error! : </strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<form asp-action="UpdateCustomer" method="post">

    <div class="mb-3">
        <label class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly />

    </div>
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <label class="form-label">Customer Type</label>
        <select>
            <option value=""></option>
            <option value=""></option>
            </select>
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>
    <div class="mb-3"><!--Dependent on customer type-->
        <label class="form-label">Products</label>
        <input type="text" class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-success">Update</button>
    </div>
</form>

</html>
@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
